<!DOCTYPE html>
<html ng-app="store">
<head> 
   <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
   <script type="text/javascript" src="angular.min.js"></script>
   <script type="text/javascript" src="app.js"></script>
   <title> Sample </title>
</head>
<body ng-controller="StoreController as store">
<ul class= "list-group">
<li class="list-group-item" ng-repeat="product in store.products">
   <h3>
   <img ng-src="{{product.images[0].full}}"/>
   {{product.name | uppercase}}
   <em class="pull-right"> {{product.price | currency}} </em>
   </h3>
   <button ng-show="product.canPurchase"> Add to Cart </button>
   <section ng-controller="PanelController as panel">
    <ul class="nav nav-pills">
     <li ng-class="{active:panel.isSelected(1)}"> <a href ng-click="panel.selectTab(1)"> Description </a> </li>
	 <li ng-class="{active:panel.isSelected(2)}"> <a href ng-click="panel.selectTab(2)"> Specifications </a> </li>
	 <li ng-class="{active:panel.isSelected(3)}"> <a href ng-click="panel.selectTab(3)"> Reviews </a> </li>
    </ul>
   <div class="panel" ng-show="panel.isSelected(1)">
	<p> {{product.description}} </p>
   </div>
   <div class="panel" ng-show="panel.isSelected(2)">
	<blockquote> Not yet </blockquote>
   </div>
   <div class="panel" ng-show="panel.isSelected(3)">
      <blockquote ng-repeat="review in product.reviews"> 
	<b> {{review.stars}} Stars,</b>
	  {{review.body}}
	<cite> by:{{review.author}}</cite>
	</blockquote>
    <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
	                        ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
	<blockquote  class="hide" ng-repeat="review in product.reviews"> 
	<b> {{reviewCtrl.review.stars}} Stars, </b>
	  {{reviewCtrl.review.body}}
	<cite> by:{{reviewCtrl.review.author}}</cite>
	</blockquote>
	 <select ng-model="reviewCtrl.review.stars" required>
	   <option value="1">1 star</option>
	   <option value="2">2 star</option>
	   <option value="3">3 star</option>
	   <option value="4">4 star</option>
	   <option value="5">5 star</option>
	 </select>
     <textarea ng-model="reviewCtrl.review.body" required></textarea>
     <label> by:</label>
	 <input name="author" ng-model="reviewCtrl.review.author" type="email" required/>
	 <div class="hide"> reviewForm is {{reviewForm.$valid}} </div>
	 <input type="submit" value="Submit" />
	</form>
   </div>
   </section>
</li>
</ul> 
</body>
</html>